<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>航班误点消息</string>
		<key>ID</key>
		<integer>-3</integer>
		<key>Index</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>室内活动预报</string>
		<key>ID</key>
		<integer>-2</integer>
		<key>Index</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>跑步预报</string>
		<key>ID</key>
		<integer>1</integer>
		<key>Index</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>慢跑预报</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Index</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>徒步旅行预报</string>
		<key>ID</key>
		<integer>3</integer>
		<key>Index</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>骑自行车预报</string>
		<key>ID</key>
		<integer>4</integer>
		<key>Index</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>高尔夫天气预报</string>
		<key>ID</key>
		<integer>5</integer>
		<key>Index</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>网球预报</string>
		<key>ID</key>
		<integer>6</integer>
		<key>Index</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>滑板预报</string>
		<key>ID</key>
		<integer>7</integer>
		<key>Index</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>户外演唱会预报</string>
		<key>ID</key>
		<integer>8</integer>
		<key>Index</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>放风筝预报</string>
		<key>ID</key>
		<integer>9</integer>
		<key>Index</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>海滩/泳池娱乐预报</string>
		<key>ID</key>
		<integer>10</integer>
		<key>Index</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>出航预报</string>
		<key>ID</key>
		<integer>11</integer>
		<key>Index</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>观星预报</string>
		<key>ID</key>
		<integer>12</integer>
		<key>Index</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>钓鱼预报</string>
		<key>ID</key>
		<integer>13</integer>
		<key>Index</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>建设预报</string>
		<key>ID</key>
		<integer>14</integer>
		<key>Index</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>滑雪预报</string>
		<key>ID</key>
		<integer>15</integer>
		<key>Index</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>健身运动预报</string>
		<key>ID</key>
		<integer>16</integer>
		<key>Index</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>蚊虫活动预报</string>
		<key>ID</key>
		<integer>17</integer>
		<key>Index</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>灰尘和皮屑预报</string>
		<key>ID</key>
		<integer>18</integer>
		<key>Index</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>降雪预报</string>
		<key>ID</key>
		<integer>19</integer>
		<key>Index</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>打猎预报</string>
		<key>ID</key>
		<integer>20</integer>
		<key>Index</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>关节疼痛预报</string>
		<key>ID</key>
		<integer>21</integer>
		<key>Index</key>
		<integer>23</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>哮喘预报</string>
		<key>ID</key>
		<integer>23</integer>
		<key>Index</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>户外烧烤</string>
		<key>ID</key>
		<integer>24</integer>
		<key>Index</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>感冒预报</string>
		<key>ID</key>
		<integer>25</integer>
		<key>Index</key>
		<integer>26</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>偏头痛预报</string>
		<key>ID</key>
		<integer>27</integer>
		<key>Index</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>修剪草坪预报</string>
		<key>ID</key>
		<integer>28</integer>
		<key>Index</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>户外运动预报</string>
		<key>ID</key>
		<integer>29</integer>
		<key>Index</key>
		<integer>29</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>窦性头痛预报</string>
		<key>ID</key>
		<integer>30</integer>
		<key>Index</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>早晨校车预报</string>
		<key>ID</key>
		<integer>35</integer>
		<key>Index</key>
		<integer>31</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>居家节能预报</string>
		<key>ID</key>
		<integer>36</integer>
		<key>Index</key>
		<integer>32</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>省油预报</string>
		<key>ID</key>
		<integer>37</integer>
		<key>Index</key>
		<integer>33</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>堆肥预报</string>
		<key>ID</key>
		<integer>38</integer>
		<key>Index</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>购物预报</string>
		<key>ID</key>
		<integer>39</integer>
		<key>Index</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>自驾游指数</string>
		<key>ID</key>
		<integer>40</integer>
		<key>Index</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>口渴预报</string>
		<key>ID</key>
		<integer>41</integer>
		<key>Index</key>
		<integer>37</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>头发打卷预报</string>
		<key>ID</key>
		<integer>42</integer>
		<key>Index</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>遛狗舒适度预报</string>
		<key>ID</key>
		<integer>43</integer>
		<key>Index</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>慢性阻塞性肺病易发预报</string>
		<key>ID</key>
		<integer>44</integer>
		<key>Index</key>
		<integer>40</integer>
	</dict>
</array>
</plist>
